OKTA_DOMAIN={yourOrg}.okta.com
OKTA_API_TOKEN={yourAPI token}
# EXAMPLE: Filter users you want to send MFA prompts to based on profile attributes e.g. company, country code, email address etc
# OKTA_QUERY=profile.Company eq \"{Company Name}\" AND status eq \"ACTIVE\""
OKTA_QUERY="profile.email eq \"{user Email address}\" AND status eq \"ACTIVE\""
